@model LiveCardTemplateWebsite.Models.CardModel

@{
    ViewBag.Title = "Card template";
}

<h2>Card template</h2>

<h3>GET API</h3>
<code>@Model.GetApi</code>

<h3>SUBSCRIBE URL</h3>
<code>@Model.SubscribeUrl</code>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CardModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CardJson, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.TextAreaFor(model => model.CardJson, new { @class = "form-control full-width", @rows = 15 })
                @Html.ValidationMessageFor(model => model.CardJson, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
